<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346194610165-3c34n0rvekorl5k96ciak8njg2nc1ed1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346194610165-3c34n0rvekorl5k96ciak8njg2nc1ed1</string>
	<key>API_KEY</key>
	<string>AIzaSyDuywHQbDJjKRIbiNib7xDr4uWrP9ELYC8</string>
	<key>GCM_SENDER_ID</key>
	<string>346194610165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yorucha.yorustagram</string>
	<key>PROJECT_ID</key>
	<string>yorustagram-65384</string>
	<key>STORAGE_BUCKET</key>
	<string>yorustagram-65384.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346194610165:ios:07805e6c7e9cb839a882bc</string>
</dict>
</plist>